section
{
    width: 50%;
    display: block;
    margin-left: 25%;
}

section > div
{
    width: 70%;
    display: block;
    background-color: #8B8B8C;
    padding: 2px;
    margin: 2px;
    margin-left: 15%;
}

section > img
{
    width: 20%;
    margin-left: 40%;
}