td:has(img)
{
    width:20%;
}

td > img
{
    width: 80%;
}

section
{
    width: 80%;
    margin-left: 10%;
}

tr
{
    background-color: #8B8B8C;
}

table
{
    border-style: solid;
    border-color: #2F2D92;
}

.ispravnoPolje
{
    background-color: green;
}

.neispravnoPolje
{
    background-color: red;
}